.gamecard {
    width:280px;
    display: block;
    margin: 60px auto;
    box-shadow: -5px 5px 5px 10px #FFEABB;
    transition: .25s;
}
.gamecard:hover {
      box-shadow: 10px 5px 40px 20px #ff2a;
      cursor: pointer;
}

