.root {
    background: #333;
    color: #fff;
  }
  
.container {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: var(--max-content-width);
    text-align: center;
    }
  
  .text {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .spacer {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .text,
  .link {
    padding: 2px 5px;
    font-size: 1em;
  }
  
  .link,
  .link:active,
  .link:visited {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  
  .link:hover {
    color: rgba(255, 255, 255, 1);
  }
  

  .icon{
      margin-left: 10px;
      margin-right: 10px;

  }

  .copyright{
    display:flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;

}
